@import "tailwindcss";

body {
  font-family: system-ui, sans-serif;
}

@keyframes floatUp {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(-40px) scale(1.5);
  }
}